/**
 * TODO: implement some build tool
 */
@import url("../vendor/webfontkit/open-sans/open-sans.min.css");
@import url("./src/layout.css");
@import url("./src/progressBars.css");
@import url("./src/countDown.css");
@import url("./src/settings.css");
@import url("./src/time.css");
@import url("./src/bpm.css");
@import url("./src/simplePiano.css");
@import url("./src/shyPiano.css");
@import url("./src/fullPiano.css");
@import url("./src/demo.css");
