
#big-overlay {
	position: fixed;
	text-align: center;
	top: 0;
	width: 100%;
	height: 100%;
	font-size: 80vh;
	color: white;
	font-weight: bold;
	z-index: 100;
	display: none;
}

#big-overlay.active {
	display: block;
}
