
* { box-sizing:border-box; }

html {
  height: 100%;
}
/**
 * 	TODO: setting 100% shows scrollbar
 * without setting min-height our "document.body.onmousemove"-listener does not work properly
 * @see Conductor.initIdleBehaviour()
 * 
 * so as a ugly hack we set it to 97%
 */
body {
  min-height: 97%;
}

body {
	background-color: #141414;
	font-family: "Open Sans", "Verdana", "sans-serif";
    font-size: 1.4em;
    color: #EEE;
}

a {
	color: #FF5050
}


.bottom-grid {
	display: grid;
	grid-template-columns:  82% 18%;
}
.col-piano {
	padding: 2vw 12vw 0 20vw;
}

.col-numbers {
	text-align: center;
	font-weight: 300;
	color: #555;
	padding-top: 20vh;
}

#hotspots-container {
	display: flex;
	flex-flow: row wrap;
	flex-direction: row;
	flex-wrap: wrap;
}

#hotspots-all {
	order: 1;
}
.hidden {
	display: none;
}

