
/* shypiano for hotspots */


.shypiano li {
	display: flex;
	justify-content: center;
	align-items: center;
}


/* force same size of black and white keys */
.shypiano .white {
	height:60%;
	width: 9%;
	top: 10%;
	margin: 2.64285714285%; 
}

/* force a square shape to avoid elipsis */
.shypiano div{
	position: absolute;
	padding-bottom: 80%;
	width: 80%;
	padding-left: 40%;
	padding-right: 40%;
	height: 80%;
}

/* force same distance between white and black spots */
.shypiano .CS { left: 9.9%; }
.shypiano .DS { left: 24.1%; }
.shypiano .FS { left: 52.6%; }
.shypiano .GS { left: 67%; }
.shypiano .AS { left: 81.4%; }


/* hotness in channel color */
.shypiano.grey   .hotness { background-image: radial-gradient( circle closest-side, #BBBBBB 70%,  transparent 100% ); }
.shypiano.pink   .hotness { background-image: radial-gradient( circle closest-side, #F8289E 70%,  transparent 100% ); }
.shypiano.cyan   .hotness { background-image: radial-gradient( circle closest-side, #00E5E5 70%,  transparent 100% ); }
.shypiano.violet .hotness { background-image: radial-gradient( circle closest-side, #9932CC 70%,  transparent 100% ); }
.shypiano.red    .hotness { background-image: radial-gradient( circle closest-side, #FF5050 70%,  transparent 100% ); }
.shypiano.orange .hotness { background-image: radial-gradient( circle closest-side, #FF9C01 70%,  transparent 100% ); }
.shypiano.green  .hotness { background-image: radial-gradient( circle closest-side, #3BBB2F 70%,  transparent 100% ); }
.shypiano.blue   .hotness { background-image: radial-gradient( circle closest-side, #5487F4 70%,  transparent 100% ); }
.shypiano.yellow .hotness { background-image: radial-gradient( circle closest-side, #EFFE4B 70%,  transparent 100% ); }

/* tiny transition for hotness */
.shypiano .hotness {
	opacity : 0.05;
	-webkit-transition: opacity 0.3s ease-in-out;
	-moz-transition: opacity 0.3s ease-in-out;
	-ms-transition: opacity 0.3s ease-in-out;
	-o-transition: opacity 0.3s ease-in-out;
	transition: opacity 0.3s ease-in-out;
}

/* active note state */
.shypiano .noteon {
	visibility: hidden;
}
.shypiano .active .noteon {
	visibility: visible;
}

/* active note state for white keys */
/* outer circle in full channel color, inner circle white */
.shypiano.grey .noteon {
	background-image: radial-gradient(
		circle closest-side, #b5b5c4 0%, #b5b5c4 80%, #BBBBBB 80.01%, #BBBBBB 99.9%, transparent 100%
	);
}
.shypiano.pink .noteon {
	background-image: radial-gradient(
		circle closest-side, #b5b5c4 0%, #b5b5c4 80%, #F8289E 80.01%, #F8289E 99.9%, transparent 100%
	);
}
.shypiano.cyan .noteon {
	background-image: radial-gradient(
		circle closest-side, #b5b5c4 0%, #b5b5c4 80%, #00E5E5 80.01%, #00E5E5 99.9%, transparent 100%
	);
}
.shypiano.violet .noteon {
	background-image: radial-gradient(
		circle closest-side, #b5b5c4 0%, #b5b5c4 80%, #9932CC 80.01%, #9932CC 99.9%, transparent 100%
	);
}
.shypiano.red .noteon {
	background-image: radial-gradient(
		circle closest-side, #b5b5c4 0%, #b5b5c4 80%, #FF5050 80.01%, #FF5050 99.9%, transparent 100%
	);
}
.shypiano.orange .noteon {
	background-image: radial-gradient(
		circle closest-side, #b5b5c4 0%, #b5b5c4 80%, #FF9C01 80.01%, #FF9C01 99.9%, transparent 100%
	);
}
.shypiano.green .noteon {
	background-image: radial-gradient(
		circle closest-side, #b5b5c4 0%, #b5b5c4 80%, #3BBB2F 80.01%, #3BBB2F 99.9%, transparent 100%
	);
}
.shypiano.blue .noteon {
	background-image: radial-gradient(
		circle closest-side, #b5b5c4 0%, #b5b5c4 80%, #5487F4 80.01%, #5487F4 99.9%, transparent 100%
	);
}
.shypiano.yellow .noteon {
	background-image: radial-gradient(
		circle closest-side, #b5b5c4 0%, #b5b5c4 80%, #EFFE4B 80.01%, #EFFE4B 99.9%, transparent 100%
	);
}


/* active note state for black keys */
/* outer circle in full channel color, inner circle dark */
.shypiano.grey .black .noteon {
	background-image: radial-gradient(
		circle closest-side, #141414 0%, #141414 80%, #BBBBBB 80.01%, #BBBBBB 99.9%, transparent 100%
	);
}
.shypiano.pink .black .noteon {
	background-image: radial-gradient(
		circle closest-side, #141414 0%, #141414 80%, #F8289E 80.01%, #F8289E 99.9%, transparent 100%
	);
}
.shypiano.cyan .black .noteon {
	background-image: radial-gradient(
		circle closest-side, #141414 0%, #141414 80%, #00E5E5 80.01%, #00E5E5 99.9%, transparent 100%
	);
}
.shypiano.violet .black .noteon {
	background-image: radial-gradient(
		circle closest-side, #141414 0%, #141414 80%, #9932CC 80.01%, #9932CC 99.9%, transparent 100%
	);
}
.shypiano.red .black .noteon {
	background-image: radial-gradient(
		circle closest-side, #141414 0%, #141414 80%, #FF5050 80.01%, #FF5050 99.9%, transparent 100%
	);
}
.shypiano.orange .black .noteon {
	background-image: radial-gradient(
		circle closest-side, #141414 0%, #141414 80%, #FF9C01 80.01%, #FF9C01 99.9%, transparent 100%
	);
}
.shypiano.green .black .noteon {
	background-image: radial-gradient(
		circle closest-side, #141414 0%, #141414 80%, #3BBB2F 80.01%, #3BBB2F 99.9%, transparent 100%
	);
}
.shypiano.blue .black .noteon {
	background-image: radial-gradient(
		circle closest-side, #141414 0%, #141414 80%, #5487F4 80.01%, #5487F4 99.9%, transparent 100%
	);
}
.shypiano.yellow .black .noteon {
	background-image: radial-gradient(
		circle closest-side, #141414 0%, #141414 80%, #EFFE4B 80.01%, #EFFE4B 99.9%, transparent 100%
	);
}
