
.simplepiano {
	height:100px;
	width:100%;
	padding: 0;
	position:relative; 
}

.simplepiano.common {
	margin: 2vh 0 5vh 0;
}

.simplepiano li {
	margin:0;
	padding:0;
	list-style:none;
	position:relative;
	float:left;
}

.simplepiano div {
	height: 100%;
	width: 100%;
}

.simplepiano .white {
	height: 100%;
	width:14.2857142857%;
	z-index: 1;
}

.simplepiano .black {
	height:60%;
	width: 9%;
	z-index:2;
	position: absolute;
}

.simplepiano.common .white {
	border-left: 0.17vw solid #141414;
	border-bottom: 0.17vw solid #141414;
	border-top: 0.17vw solid #141414;
	background: #313135;
}

.simplepiano.common .white.active {
	background: #65656c;
}

.simplepiano.common .black {
	border: 0.17vw  solid #141414;
	background: #27272a;
}

.simplepiano.common .B { border-right: 0.17vw solid #141414; }

.simplepiano.common .black.active {
	background: #b5b5c4;
}

.simplepiano .CS { left: 9.2%; }
.simplepiano .DS { left: 25.2%; }
.simplepiano .FS { left: 51.7%; }
.simplepiano .GS { left: 67.2%; }
.simplepiano .AS { left: 82.6%; }

